<div class="container1" *ngIf="!isMenuOpen">
  <div class="top-content-bg">
    <h2 class="heading-top">Free Standard Shipping on orders over $99.99</h2>
    <div class="m-6">
      <nav class="navbar navbar-expand-lg navbar-light" style="color: #293D45;">
        <div class="container-fluid">
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" (click)="openCloseMobileMenu()">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="row second-nav-item" id="nav-iteam">
           <div class="col-6 logo">SNOOTH</div>
           <div class="">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
          <div class="col-1 header-items">CART</div>
          </div>
          <div class="row nav-heading" id="ifNotMobile">
            <div class="col-1">ABOUT</div>
            <div class="col-1">CONSULTATION</div>
            <div class="col-6 center-heading">SNOOTH</div>
            <div class="col-1 header-items">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div class="col-1 header-items">CART</div>
            <div class="col-1 header-items">LOGIN</div>
            <br>
            <div class="sub-header">
              <div class="sub-header-items">Acne</div>
              <div class="sub-header-items">Sun</div>
              <div class="sub-header-items">Ezcema</div>
              <div class="sub-header-items">Psoriasis</div>
              <div class="sub-header-items">Vitiligio</div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container1">
      <div class="highlighted-conent">
        <div class="row img-background-content">
          <div class="col-md-5">
            <button class="new-button">New!</button>
            <h3 class="new-content-heading">
              All Natural Skin Remedies.
            </h3>
            <p class="new-contaent-dicription">
              A healthier you from the inside out. We’ve sourced the cleanest ingredients to create a line of clean skin
              care treatments that leave you feeling your best
            </p>
            <button class="shop-button">Shop products</button>
            <!-- <div class="img-bottl2">
              <img src="assets/ingred2.png" alt="">
            </div>
            <div class="img-bottl">
              <img src="assets/ezcema@3x.png" alt="">
            </div> -->
          </div>
          <div class="col-md-3 bottle-image">

            <img src="assets/ezcema@3x.png" alt="">
            <div class="leaf2-img">

            </div>
          </div>
          <!-- <div class="col-md-3">
            <img src="assets/ezcema@3x.png" alt="">
          </div> -->
          <div class="col-md-6 bgGray-img order-sm-1">
          </div>
        </div>
      </div>
      <div class="banner">
        <div class="banner-sub">
          <h6 class="b-h6">Solutions for all skin health</h6>
          <p class="ba-p">Explore our innovative skincare products</p>
        </div>
        <div class="row banner-midd">
          <div class="col-md-6">
            <p> Most Popular</p>
          </div>
          <div class="col-md-6">
            <p> Shop all products</p>
          </div>
        </div>
        <!-- second-banner----------------------------------------------------------- -->
        <div class="row backpray bottles">
          <div class="col-md-3">
            <img src="assets/bottle1.png" alt="">
            <h6>Acne Cream</h6>
            <p>All Natural Ingredients.</p>
            <p>$24.99</p>
            <button class="cart-btn"><i class="fa-solid fa-bookmark"></i> Add to cart</button>
          </div>
          <div class="col-md-3">
            <img src="assets/bottle2.png" alt="">
            <h6>Vitiligio Solution</h6>
            <p>All Natural Ingredients.</p>
            <p>$24.99</p>
            <button class="cart-btn"><i class="fa-solid fa-bookmark"></i> Add to cart</button>
          </div>
          <div class="col-md-3">
            <img src="assets/bottle3.png" alt="">
            <h6>Ezcema Cream</h6>
            <p>All Natural Ingredients.</p>
            <p>$24.99</p>
            <button class="cart-btn"><i class="fa-solid fa-bookmark"></i> Add to cart</button>
          </div>
          <div class="col-md-3">
            <img src="assets/bottle.png" alt="">
            <h6>Sunburn Ointment</h6>
            <p>All Natural Ingredients.</p>
            <p>$24.99</p>
            <button class="cart-btn"><i class="fa-solid fa-bookmark"></i> Add to cart</button>
          </div>
        </div>
        <!-- man-banner -------------------------------------------------------------------->
        <div class="container-fluid">
          <div class="row man-banner">
            <div class="col-12 col-md-6 bg-green">
              <h4>Clean products that <br>deliver better solutions</h4>
              <p>A healthier you from the inside out. We’ve sourced the<br> cleanest ingredients to create a line of
                clean skin care <br>treatments that leave you feeling your best</p>
              <button class="shop-btn">shop more</button>
            </div>
            <div class="col-12 col-md-6 man">
              <img src="assets/man.png" alt="" class="man-img">
            </div>
          </div>
        </div>
        <div>
          <div class="row top-rated-info">
            <div class="col-md-6">
              Top rated
            </div>
            <div class="col-md-6 right">
              Shop all products
            </div>
          </div>
          <div class="row bottles backpray">
            <div class="col-md-3">
              <img src="assets/bottle.png" alt="">
              <h6>Psoriasis Cream</h6>
              <p>All Natural Ingredients.</p>
              <p>$24.99</p>
              <button class="cart-btn"><i class="fa-solid fa-bookmark"></i> Add to cart</button>
            </div>
            <div class="col-md-3">
              <img src="assets/bottle-img.png" alt="" class="">
              <h6>Psoriasis Cream</h6>
              <p>All Natural Ingredients.</p>
              <p>$24.99</p>
              <button class="cart-btn"><i class="fa-solid fa-bookmark"></i> Add to cart</button>
            </div>
            <div class="col-md-3">
              <img src="assets/bottle4.png" alt="" class="">
              <h6>Psoriasis Cream</h6>
              <p>All Natural Ingredients.</p>
              <p>$24.99</p>
              <button class="cart-btn"><i class="fa-solid fa-bookmark"></i> Add to cart</button>
            </div>
            <div class="col-md-3">
              <img src="assets/bottle-5.png" alt="" class="">
              <h6>Psoriasis Cream</h6>
              <p>All Natural Ingredients.</p>
              <p>$24.99</p>
              <button class="cart-btn"><i class="fa-solid fa-bookmark"></i> Add to cart</button>
            </div>
          </div>
          <!-- bottles------------------------------------------------------------------------- -->
          <div class="row bottles backpray">
            <div class="col-md-3">
              <img src="assets/bottle2.png" alt="" class="drop">
              <h6>Psoriasis Cream</h6>
              <p>All Natural Ingredients.</p>
              <p>$24.99</p>
              <button class="cart-btn"><i class="fa-solid fa-bookmark"></i> Add to cart</button>
            </div>
            <div class="col-md-3">
              <img src="assets/bottle6.png" alt="">
              <h6>Psoriasis Cream</h6>
              <p>All Natural Ingredients.</p>
              <p>$24.99</p>
              <button class="cart-btn"><i class="fa-solid fa-bookmark"></i> Add to cart</button>
            </div>
            <div class="col-md-3">
              <img src="assets/cream.png" alt="">
              <h6>Psoriasis Cream</h6>
              <p>All Natural Ingredients.</p>
              <p>$24.99</p>
              <button class="cart-btn"><i class="fa-solid fa-bookmark"></i> Add to cart</button>
            </div>
            <div class="col-md-3">
              <img src="assets/dropper.png" alt="">
              <h6>Psoriasis Cream</h6>
              <p>All Natural Ingredients.</p>
              <p>$24.99</p>
              <button class="cart-btn"><i class="fa-solid fa-bookmark"></i> Add to cart</button>
            </div>
          </div>
          <!-- hand-banner--------------------------------------------------------------------------- -->
          <div class="row hand-banner">
            <div class="col-md-6">
              <img src="assets/hand1.png" alt="" class="hand1">
            </div>
            <div class="col-md-6 bg-pink">
              <h4>All Natural Ingredients.</h4>
              <p>A healthier you from the inside out. We’ve sourced the cleanest<br> ingredients to create a line of
                clean
                skin care treatments that<br> leave you feeling your best

              </p>
              <button class="shop-more-btn">shop more</button>
            </div>
            <div class="backpray">
              <div class="row top-rated-info">
                <div class="col-md-6 left">
                  Recommended
                </div>
                <div class="col-md-6 right">
                  Shop all products
                </div>
              </div>
              <div class="row bottles">
                <div class="col-md-3">
                  <img src="assets/bottle.png" alt="" class="">
                  <h6>Psoriasis Cream</h6>
                  <p>All Natural Ingredients.</p>
                  <p>$24.99</p>
                  <button class="cart-btn">Add to cart</button>
                </div>
                <div class="col-md-3">
                  <img src="assets/bottle-img.png" alt="">
                  <h6>Sunburn Balm</h6>
                  <p>All Natural Ingredients.</p>
                  <p>$24.99</p>
                  <button class="cart-btn">Add to cart</button>
                </div>
                <div class="col-md-3">
                  <img src="assets/two-bottls.png" alt="">
                  <h6>Psoriasis Cream</h6>
                  <p>All Natural Ingredients.</p>
                  <p>$24.99</p>
                  <button class="cart-btn">Add to cart</button>
                </div>
                <div class="col-md-3">
                  <img src="assets/pink-cream.png" alt="">
                  <h6>Vitiligio Treatment</h6>
                  <p>All Natural Ingredients.</p>
                  <p>$24.99</p>
                  <button class="cart-btn">Add to cart</button>
                </div>
              </div>
              <!-- ingreds/ ------------------------------------------------------------------- -->
              <div class="center">
                <h4>We use the best ingredients</h4>
                <p>Explore our innovative skincare products</p>
                <div class="row">
                  <div class="col-md-4 ">
                    <img src="assets/1.png" alt="">
                    <h5>Cacao</h5>
                    <h6>Lorem ipsum dolar et al</h6>
                  </div>
                  <div class="col-md-4 ">
                    <img src="assets/2.png" alt="">
                    <h5>Honey</h5>
                    <h6>Lorem ipsum dolar et al</h6>
                  </div>
                  <div class="col-md-4 ">
                    <img src="assets/3.png" alt="">
                    <h5>Mint</h5>
                    <h6>Lorem ipsum dolar et al</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 ">
                    <img src="assets/4.png" alt="">
                    <h5>Cacao</h5>
                    <h6>Lorem ipsum dolar et al</h6>
                  </div>
                  <div class="col-md-4 ">
                    <img src="assets/5.png" alt="">
                    <h5>Honey</h5>
                    <h6>Lorem ipsum dolar et al</h6>
                  </div>
                  <div class="col-md-4 ">
                    <img src="assets/6.png" alt="">
                    <h5>Mint</h5>
                    <h6>Lorem ipsum dolar et al</h6>
                  </div>
                </div>
              </div>
            </div>
            <!-- blue-baner ----------------------------------------------------------------------------->
            <div class="bg-blue-main">

              <div class="row bg-blue">
                <div class="col-md-4 ">
                  <i class="fa fa-home"></i>
                  <h5>We’re offering new ways to shop.</h5>
                  <h6>Store locator</h6>
                </div>
                <div class="col-md-4 ">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  <h5>Buy online, pickup in store</h5>
                  <h6>Learn more</h6>
                </div>
                <div class="col-md-4 ">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <h5>Curbside pickup</h5>
                  <h6>Learn more</h6>
                </div>
              </div>
            </div>
            <!-- newsletter----------------------------------------------------------------------- -->
            <div class="row newsletter">
              <div class="col-md-4">
                <h3>
                  Join the <br>Sooth family
                </h3>
              </div>
              <div class="col-md-4">
                <p>Lorem ipsum dolor sit amet, consetetur<br> sadipscing elitr, sed diam nonumy</p>
              </div>
              <div class="col-md-4">
                <input type="text" placeholder=" " name="mail" required>
                <input type="submit" value="Subscribe">
              </div>
            </div>
            <!-- <footer>------------------------------------------------------------------------------</footer> -->
            <div class="footer">
              <div class="row">
                <div class="col-md-3 newws">
                  <h2>Sooth</h2>
                  <p>Explore our innovative skincare products</p>
                  <input type="text" placeholder="your email.... " name="mail" required>
                  <input type="submit" value="Subscribe">
                </div>
                <div class="col-md-2">

                  <ul>
                    <li>
                      <h5>SHOP</h5>
                    </li>
                    <li>Lorem ipsum al</li>
                    <li>Dolar at</li>
                    <li>Veraotio</li>
                    <li>Chauloe</li>
                  </ul>
                </div>
                <div class="col-md-2">

                  <ul>
                    <li>
                      <h5>ABOUT</h5>
                    </li>
                    <li>Lorem ipsum al</li>
                    <li>Dolar at</li>
                    <li>Veraotio</li>
                    <li>Chauloe</li>
                  </ul>
                </div>
                <div class="col-md-2">

                  <ul>
                    <li>
                      <h5>MORE</h5>
                    </li>
                    <li>Lorem ipsum al</li>
                    <li>Dolar at</li>
                    <li>Veraotio</li>
                    <li>Chauloe</li>
                  </ul>
                </div>

              </div>
              <hr class="hr-half">
              <div class="row">
                <h6>SOOTH ALL RIGHTS RESERVED</h6>
                <div class="col-md-6">
                  <ul class="terms">
                    <li>Privacy Policy</li>
                    <li>Terms of Use</li>
                    <li>Contact Us</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <i class="fa fa-facebook icon" aria-hidden="true"></i>
                  <i class="fa fa-instagram icon" aria-hidden="true"></i>
                  <i class="fa fa-twitter icon"></i>
                  <i class="fa fa-youtube icon"></i>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="menu-mobile" *ngIf="isMenuOpen">
  <div class="mobile-menu-header">
    <i class="fa fa-close" aria-hidden="true" (click)="openCloseMobileMenu()"></i>
    <span class="cart-bar">CART</span>
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
  <div class="menu-items-list">
    <div class="menu-item">Acne</div>
    <div class="menu-item">Sun</div>
    <div class="menu-item">Ezcema</div>
    <div class="menu-item">Psoriasis</div>
    <div class="menu-item">Vitiligio</div>
    <br>
    <br>
    <div class="menu-item">ABOUT</div>
    <div class="menu-item">CONSULTATION</div>
  </div>
</div>