/* You can add global styles to this file, and also import other style files */
:root{
    --cape-palliser-a67744: #A67744;
    --beige-f7f5e6: #F7F5E6;
    --alabasterr-f7f7f7: #F7F7F7;
    --athens-gray-eef2f4: #EEF2F4;
    --silver-rust-c6b9b6: #C6B9B6;
    --oxford-blue-354e57: #354E57;
    --como-547665: #547665;
    --mischka-d7ccdd: #D7CCDD;
    --rangitoto-2e2e22: #2E2E22;
    --punch-de3b35: #DE3B35;
    --blue-0014ff: #0014FF;
    --white-ffffff: #FFFFFF;
    
    
    --unnamed-font-family-proxima-nova: Proxima Nova;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-18: 18px;
    --unnamed-font-size-28: 28px;
    --unnamed-font-size-32: 32px;
    --unnamed-font-size-40: 40px;
    --unnamed-font-size-48: 48px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-17: 17px;
    --unnamed-line-spacing-22: 22px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-34: 34px;
    --unnamed-line-spacing-38: 38px;
    --unnamed-line-spacing-48: 48px;
    --unnamed-line-spacing-58: 58px;
    }
    
    /* Character Styles */
    .headline-—-48pt {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-48);
    line-height: var(--unnamed-line-spacing-58);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--oxford-blue-354e57);
    }
    .headline-2-—-40pt {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-40);
    line-height: var(--unnamed-line-spacing-48);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--oxford-blue-354e57);
    }
    .headline-3-—-32pt {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-32);
    line-height: var(--unnamed-line-spacing-38);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--oxford-blue-354e57);
    }
    .headline-4-—-28pt {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-28);
    line-height: var(--unnamed-line-spacing-34);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--oxford-blue-354e57);
    }
    .headline-5-—-18pt {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--oxford-blue-354e57);
    }
    .headline-6-—-14pt {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-17);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--rangitoto-2e2e22);
    }
    .body-2-—-14pt {
    font-family: var(--unnamed-font-family-proxima-nova);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--oxford-blue-354e57);
    }
    body {
        max-width: 100%;
        overflow-x: hidden;
    }


    .top-content-bg {
        background-color: rgb(224 227 232);
    }
    
    .nav-heading {
        width: 100%;
    }
    
    @media (max-width: 992px) {
        #ifNotMobile {
            display: none !important;
        }
    }
    
    @media (min-width: 992px) {
        #nav-iteam {
            display: none !important;
        }
    }
    
    .second-nav-item {
        display: contents;
        color: #293D45;
    }
    
    .center-heading {
        text-align: center;
        font-size: 25px;
    }
    
    .header-items {
        text-align: right;
    }
    
    .display-header {
        display: none;
    }
    
    .sub-header {
        height: 100px;
        width: 50%;
        margin-left: 25%;
        display: inline;
        margin-top: 25px;
    }
    
    .sub-header-items {
        float: left;
        margin-left: 10%;
    }
    
    .heading-top {
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
        font: var(--unnamed-font-style-normal) normal medium 16px/20px var(--unnamed-font-family-proxima-nova);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--beige-f7f5e6);
        text-align: center;
        font: normal normal medium 16px/20px Proxima Nova;
        font-size: small;
        letter-spacing: 0px;
        color: #F7F5E6;
        opacity: 1;
        top: 0px;
        left: 0px;
        width: 100%;
        height: auto;
        background: var(--cape-palliser-a67744) 0% 0% no-repeat padding-box;
        background: #A67744 0% 0% no-repeat padding-box;
        opacity: 1
    }
    
    .fa-search {
        padding-top: 11px;
        color: rgba(0, 0, 0, .55);
    }
    
    .navbar-brand {
        left: 50%;
        color: #293D45;
    }
    
    .highlighted-conent {
        opacity: 1;
    }
    
    .col-md-5 {
        padding: 5%;
    }
    
    .new-button {
        border: none;
        background-color: #F7F7F7;
    }
    
    .new-content-heading {
        color: #354E57;
        text-transform: capitalize;
        font-weight: 700;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-48)/var(--unnamed-line-spacing-58) var(--unnamed-font-family-proxima-nova);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--oxford-blue-354e57);
        text-align: left;
        font: normal normal bold 48px/58px Proxima Nova;
        letter-spacing: 0px;
        opacity: 1;
        width: 80%;
    }
    
    .new-contaent-dicription {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/var(--unnamed-line-spacing-24) var(--unnamed-font-family-proxima-nova);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--oxford-blue-354e57);
        text-align: left;
        font: normal normal normal 16px/24px Proxima Nova;
        letter-spacing: 0px;
        color: #354E57;
        opacity: 1;
        width: 80%;
    }
    
    .shop-button {
        border: 1px solid var(--oxford-blue-354e57);
        border: 1px solid #354E57;
        opacity: 1;
        height: 35px;
        width: 135px;
    }
    
    .img-bottl2 {
        position: absolute;
        top: 1%;
        left: 43%;
    }
    
    .img-bottl {
        position: absolute;
        /* top: 57px;
        left: 61%; */
    
        /* height: 100%;
        width: 100%; */
        margin-left: 35%;
        float: right;
    }
    
    .img-background {
        background-image: url("/assets/ingred2.png") !important;
        /* background-image:  url("/assets/hand.png")  !important; */
        background-position: center;
        background-repeat: no-repeat;
        /* background-size: cover;
        background: transparent; */
    }
    
    .img-background-content {
        /* background-image:  url("/assets/ingred2.png")  !important; */
        background-image: url("/assets/hand.png") !important;
        background-position: center;
        background-repeat: no-repeat;
        /* height: 400px; */
        padding: 5%;
    }
    
    .bottle-image img {
        height: 100%;
        /* width: 100%; */
        background-image: url("/assets/ingred2.png") !important;
        background-position: left;
        background-repeat: no-repeat;
        background-size: 225px 355px;
    }
    
    .leaf2-img {
        background-image: url("/assets/plant@3x.png") !important;
        background-position: right;
        background-repeat: no-repeat;
        /* background-size: 225px 355px; */
    }
    
    .banner {
        background-color: #EEF3F4;
    }
    
    .banner-sub {
        border: 1px solid #547665;
        padding: 20px;
        text-align: center;
    }
    
    .b-h6 {
        font-size: 30px;
        font-weight: 600;
    }
    
    .ba-p {
        font-size: 20px;
    }
    
    .second-banner div {
        margin-right: 7px;
        padding: 32px 64px;
    }
    
    .banner-midd {
        padding: 40px;
    }
    
    .bottle1 {
        width: 59%;
        height: 147px;
    }
    
    .bottle2 {
        width: 72%;
        background-color: #fff;
        height: 147px;
    }
    
    .second-banner div {
        background-color: #fff;
        height: 403px;
        margin-bottom: 20px;
    
    }
    
    .second-banner {
        width: 80%;
        margin: 0 auto !important;
    }
    
    .firstdiv {
        margin-right: 10px;
    }
    
    .man-banner :first-child {
        background-color: #547665;
        color: #fff;
        /* text-align: center; */
    
    
    }
    
    .bg-green {
        /* width: auto; */
        height: 990px;
    
    }
    
    .shop-btn {
        background: transparent;
        border: 1px solid #fff;
        padding: 10px 30px;
        margin-left: 70px;
    }
    
    .man-banner h4 {
        font-size: 40px;
        padding: 90px 0 50px 40px;
        padding-left: 70px;
    }
    
    .man-banner p {
        padding-left: 70px;
        padding-bottom: 40px;
        font-weight: 100;
    }
    
    body {
        overflow-x: hidden;
    }
    
    /* .man{
        width: auto;
    } */
    .hand-banner {
        background-color: #C6B9B6;
    }
    
    .hand-banner h4 {
        color: #fff;
        font-size: 40px;
        padding: 20px 20px 0 0;
        margin-bottom: 50px;
    }
    
    .shop-more-btn {
        border: 1px solid #956A53;
        background: transparent;
        padding: 6px 30px;
        margin-top: 50px;
    }
    
    .backpray {
        background-color: #EEF3F4;
    }
    
    .backpray img {
        background-color: #fff;
        height: 50% !important;
        width: 50% !important;
    }
    
    .row.top-rated-info {
        padding: 50px 70px;
    }
    
    .bottles {
        width: 80%;
        margin: 0 auto !important
    }
    
    .col-md-3 {
        margin-bottom: 20px;
    }
    
    .right {
        text-align: center;
    }
    
    .secondbttl {
        width: min-content !important;
    }
    
    .top-rated-info:first-child {
        margin-left: 63px;
    }
    
    .man-banner img {
        width: 150%;
    }
    
    .drop {
        width: 70%;
    }
    
    .hand-banner {
        background-color: #C6B9B6;
    }
    
    .hand-banner h4 {
        color: #fff;
        font-size: 40px;
        padding: 20px 20px 0 0;
        margin-bottom: 50px;
    }
    
    .shop-more-btn {
        border: 1px solid #956A53;
        background: transparent;
        padding: 6px 30px;
        margin-top: 50px;
    }
    
    .center {
        text-align: center;
        padding: 80px;
        background: #fff;
    }
    
    .center h4 {
        font-size: 43px;
        font-weight: 600;
    }
    
    .center p {
        font-size: 23px;
    
    }
    
    .banner-midd p {
        margin-left: 91px;
    }
    
    .col-md-4 i {
        color: #C6B9B6;
        font-size: 26px;
    }
    
    .bg-blue-main {
        background-color: #EEF2F4;
    }
    
    .bg-blue {
        width: 80%;
        margin: 0 auto !important;
        text-align: center;
        padding: 80px;
    
    
    }
    
    input[type="submit"] {
        margin-left: -10px;
        background-color: #956A53;
        border: none;
        color: #ffff;
        padding: 3px;
    }
    
    .newsletter {
        padding: 60px;
    }
    
    .newsletter h3 {
        font-size: 30px;
        font-weight: 600;
        padding: 0px;
    }
    
    .footer {
        background-color: #354E57;
        padding: 80px;
        color: #fff;
    }
    
    .footer-list {
        margin-left: 5%;
    }
    
    .footer li {
        list-style: none;
    }
    
    .footer p {
        padding: 20px 0;
    }
    
    .terms li {
        display: inline;
        padding: 4px 7px;
        text-decoration: underline;
    }
    
    .footer-detail {
        margin-right: 15%;
    }
    
    .footer-detail input {
        background-color: transparent;
        border: 1px solid #fff;
        padding: 3px;
        margin-left: -4px;
    }
    
    .icon {
        float: right;
        margin-right: 5%;
    }
    
    .menu-mobile {
        background-color: #F7F7F7 !important;
        height: 700px;
        width: 100%;
    }
    
    .menu-item {
        height: 10%;
        margin-left: 9%;
    }
    
    .menu-items-list {
        margin-top: 60px;
        height: 90%;
    }
    
    .mobile-menu-header {
        height: 100px;
        width: 100%;
        padding: 2rem;
    }
    
    .cart-bar {
        height: 60px;
        width: 50px;
        float: right;
        padding-top: 15px;
    }
    
    .menu-mobile .fa-search {
        font-size: 30px;
        margin-right: 15px;
    }
    
    .menu-mobile .fa-close {
        font-size: 40px;
        padding-top: 6px;
    }
    
    .menu-mobile .fa-search {
        float: right;
    }